@model HubbleSpace_Final.Entities.Discount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Discount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Discount" />
            <div class="form-group">
                <label asp-for="Code_Discount" class="control-label"></label>
                <input asp-for="Code_Discount" class="form-control" />
                <span asp-validation-for="Code_Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expire" class="control-label"></label>
                <input asp-for="Expire" class="form-control" />
                <span asp-validation-for="Expire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberofTurn" class="control-label"></label>
                <input asp-for="NumberofTurn" class="form-control" />
                <span asp-validation-for="NumberofTurn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

