@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Payment Page";
    Layout = "_FrontendLayout";
}
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "109024788097939");
    chatbox.setAttribute("attribution", "biz_inbox");
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v11.0'
        });
    };

    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60e4344ad6e7610a49a9da98/1f9tmohmc';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../Home">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Checkout</li>
                        </ol>
                    </nav>
                </div>

            </div>
            @if (_signInManager.IsSignedIn(User))
            {
                <div id="checkout" class="col-lg-12">
                    <div class="box">
                        <h1>Checkout - Payment method</h1>
                        <div class="content py-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="box payment-method">
                                        <h4>Paypal</h4>
                                        <p>We like it all.</p>
                                        <form asp-action="PaypalCheckout">
                                            <div class="box-footer text-center">
                                                <button class="btn btn-primary">Paypal Checkout</button>
                                                <a asp-action="PaypalCheckout">
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="box payment-method">
                                        <h4>Cash on delivery</h4>
                                        <p>You pay when you get it.</p>
                                        <form asp-action="Checkout" method="get">
                                            <div class="box-footer text-center">
                                                <button class="btn btn-primary">COD method</button>
                                                <a asp-action="Checkout">
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row-->
                        </div>
                        <!-- /.content-->
                        <div class="box-footer d-flex justify-content-between">
                            <a asp-controller="Client_ProductCarts" asp-action="Cart" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to your cart info</a>
                        </div>
                        <!-- /.box-->
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        You have to sign in before
                    </p>
                    <a asp-controller="Client_Accounts" asp-action="Signin" class="btn btn-outline-secondary">Go to login</a>

                </div>
            }
        </div>
    </div>
</div>