@model HubbleSpace_Final.Models.CheckOutViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Payment";
    Layout = "_FrontendLayout";
}
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "109024788097939");
    chatbox.setAttribute("attribution", "biz_inbox");
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v11.0'
        });
    };

    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60e4344ad6e7610a49a9da98/1f9tmohmc';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../Home">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Payment</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div id="checkout" class="col-lg-12">
                <div class="box">
                    <h2 class="mb-0"><strong>Payment</strong></h2>
                    <div class="content py-3">
                        @if (_signInManager.IsSignedIn(User))
                        {

                            <div class="row">
                                <div class="col-4">
                                    <div class="box payment-method">
                                        <img src="~/Images/paypal.jpg" class="img-fluid" />
                                        <div class="box-footer text-center">
                                            <form asp-action="PaypalPayment">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-paypal"></i>Paypal</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="box payment-method">
                                        <img src="~/Images/Vnpay.jpg" class="img-fluid"/>
                                        <div class="box-footer text-center">
                                            <form asp-action="VNPayment">
                                                <button class="btn btn-primary" type="submit">VNPay</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="box payment-method">
                                        <img src="~/Images/Cod.png" class="img-fluid" />
                                        <div class="box-footer text-center">
                                            <form asp-action="CheckoutCOD">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-money"></i>COD</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-2"></div>

                                <div class="col-4">
                                    <div class="box payment-method">
                                        <img src="~/Images/paypal.jpg" class="img-fluid" />
                                        <div class="box-footer text-center">
                                            <form asp-action="PaypalPayment">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-paypal"></i>Paypal</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="box payment-method">
                                        <img src="~/Images/Vnpay.jpg" class="img-fluid" />
                                        <div class="box-footer text-center">
                                            <form asp-action="VNPayment">
                                                <button class="btn btn-primary" type="submit">VNPay</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2"></div>

                            </div>

                        }
                        <!-- /.content-->
                        <div class="box-footer d-flex justify-content-between">
                            <a asp-controller="Client_ProductCarts" asp-action="Checkout" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to check out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
