@inject HubbleSpace_Final.Entities.MyDbContext context

<ul class="list-unstyled">
    @{
        var itemObjects = context.Category.Where(c => c.Object == "Men").Distinct();
        foreach (var i in itemObjects)
        {
            <li><a asp-controller="Home" asp-action="Categories" asp-route-Object="@i.Object" asp-route-CategoriesName="@i.Category_Name">@i.Category_Name</a></li>
        }
    }
</ul>