@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager


@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value )
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropDown">
            <a class="dropdown-item" asp-action="Signout" asp-controller="Client_Accounts">Logout</a>
            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Client_Accounts">Change password</a>
            <a class="dropdown-item" asp-action="Profile" asp-controller="Client_Accounts">Your Profile</a>
            <a class="dropdown-item" asp-action="HistoryOrder" asp-controller="Client_Orders">Order's History</a>

        </div>
    </li>
}
else
{
    <li class="nav-item">
    <li class="list-inline-item"><a href="~/../Signin">Sign in</a></li>
    <li class="list-inline-item"><a href="~/../Signup">Sign up</a></li>
    </li>
}