@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager


@if (_signInManager.IsSignedIn(User))
{
	<div class="products-sort-by mt-2 mt-lg-0">
		<a data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">
			<strong>
				Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value )
			</strong>
			<b class="caret"></b>
		</a>
        <div class="dropdown-menu megamenu">
            <div class="nav-item dropdown-item">
                <a class="nav-link-custom" asp-action="ChangePassword" asp-controller="Client_Accounts"><i class="fa fa-key"></i>  Change password</a>
            </div>
            <div class="nav-item dropdown-item">
                <a class="nav-link-custom" asp-action="Profile" asp-controller="Client_Accounts"><i class="fa fa-user"></i>  Your Profile</a>
            </div>
            <div class="nav-item dropdown-item">
                <a class="nav-link-custom" asp-action="HistoryOrder" asp-controller="Client_Orders"><i class="fa fa-first-order"></i>  Order's History</a>
            </div>
            <div class="nav-item dropdown-item">
                <a class="nav-link-custom" asp-action="ClientNotification" asp-controller="Notification"><i class="fa fa-bell"></i>   Your Notification <b>@ViewData["Notifications"]</b></a>
            </div>
            @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <div class="nav-item dropdown-item">
                    <a class="nav-link-custom" asp-action="Index" asp-controller="Admin">
                        <i class="fa fa-briefcase"></i>
                        Admin DashBoard
                    </a>
                </div>

            }
            <div class="nav-item dropdown-item">
                <a class="nav-link-custom" asp-action="Signout" asp-controller="Client_Accounts"><i class="fa fa-power-off"></i>  Sign out</a>
            </div>
        </div>
	</div>
}
else
{<ul>
    <li class="nav-item">
    <li class="list-inline-item"><a href="~/../Signin">Sign in</a></li>
    <li class="list-inline-item"><a href="~/../Signup">Sign up</a></li>
    </li>
</ul>
}