@model IEnumerable<HubbleSpace_Final.Entities.Color_Product>

<p style="text-align: center">
    @foreach (var item in Model)
    {
        <a href="#">
            <img style="width: 60px" src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" />
        </a>
    }
