@model IEnumerable<HubbleSpace_Final.Entities.Color_Product>

@{
    if (Model.Count() > 1)
    {
            @foreach (var item in Model)
            {
                <a href="~/../Home/Product_Detail/@Html.DisplayFor(modelItem => item.ID_Color_Product)">
                    <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" />
                </a>
            }
    }
    else return;
}
