@model IEnumerable<HubbleSpace_Final.Entities.Color_Product>

@{
    if (Model.Count() > 1)
    {
            @foreach (var item in Model)
            {
                <a asp-action="Product_Detail" asp-route-name="@item.product.Product_Name.Replace(" ", "-")" asp-route-color="@item.Color_Name.Replace(" ","").Replace("/", "-")">
                    <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" />
                </a>
            }
    }
    else return;
}
