@model HubbleSpace_Final.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Product" />
            <div class="form-group">
                <label asp-for="Product_Name" class="control-label"></label>
                <input asp-for="Product_Name" class="form-control" />
                <span asp-validation-for="Product_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_Product" class="control-label"></label>
                <input asp-for="Price_Product" class="form-control" />
                <span asp-validation-for="Price_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_Sale" class="control-label"></label>
                <input asp-for="Price_Sale" class="form-control" />
                <span asp-validation-for="Price_Sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Brand" class="control-label"></label>
                <select asp-for="ID_Brand" class="form-control" asp-items="ViewBag.ID_Brand"></select>
                <span asp-validation-for="ID_Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

