@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@model IEnumerable<HubbleSpace_Final.Entities.NotificationPusher>
@{
	ViewData["Title"] = "Notification";
	Layout = "_FrontendLayout";
}

<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script type="text/javascript">
	Pusher.logToConsole = true;
	var pusher = new Pusher('8d3e1104be3eacf91241', {
		cluster: 'ap1'
	});

	var channel = pusher.subscribe('Clientnotification');
	channel.bind('new_Clientnotification', function (data) {
		console.log(data);
		$("#feeds").append(`
			  <div class="ufee-alert alert with-close alert-success alert-dismissible fade show">
				  <span class="badge badge-pill badge-success">
					 New
				  </span>
					 ${data.message}
			  </div>
		  `);
	});
</script>

<style>
	.feed {
		padding: 2px 10px;
		background-color: #4aa96c;
		margin: 4px;
		color: aliceblue;
		border-radius: 3px;
	}
</style>
<div class="row">
	<div class="col">
		<div class="container" style="padding: 40px;">
			<h4 class="text-center">Notifications</h4>
			<div id="feeds">
			</div>
			@foreach (var item in Model)
			{
				if (_signInManager.IsSignedIn(User) && _userManager.GetUserId(User)==item.User.Id)
				{
					<div class="ufee-alert alert with-close alert-success alert-dismissible fade show">
						<span class="badge badge-pill badge-dark">
							Old Message
						</span>
						@Html.DisplayFor(modelItem => item.Content)
					</div>
				}

			}
		</div>
	</div>
</div>


